.mini__cart {
  position: fixed;
  max-width: 450px;
  min-width: 400px;
  z-index: 9;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: $white;
  padding: 30px 0 0;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  @include transition(0.3s);
  text-align: center;

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  &__product {
    height: 400px;
    overflow-y: scroll;
    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      padding: 15px;

      &:not(:last-child) {
        border-bottom: 1px solid #ddd;
      }

      .product__image {
        min-width: 80px;
        width: 80px;
        height: 80px;
      }

      .product__info {
        flex: 1 1 60%;
        h1.sm__heading {
          font-size: 18px;
        }
      }
      .product__number {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        span {
          &:not(:last-child) {
            &::after {
              content: "X";
              margin-left: 10px;
              color: $orange__color;
            }
          }
        }
      }
    }

    &::-webkit-scrollbar {
      width: 3px;
      height: 100%;
      background-color: #ddd;
    }
    &::-webkit-scrollbar-thumb {
      width: 100%;
      background-color: $orange__color;
    }
  }
}
