$font__family__01: "Oswald", sans-serif;
$font__family__02: "Poppins", sans-serif;

$text__color: #757575;
$orange__color: #ff4500;
$white: #fff;
$black: #000;

$border__01: 1px solid #ddd;

$xl__font: 180px;
$lg__font: 48px;
$md__font: 32px;
$sm__font: 24px;
